%h1 Create a new Round
-form_for @round do |r|
  .pairs
    %p.clear
      .left=r.label :name
      .right=r.text_field :name
    %p.clear
      .left=r.label :area
      .right=r.text_area :area, :rows => 3
    %p.clear
      .left=r.label :schedule
      .right=r.text_area :schedule, :rows => 3
    %p.clear
      .left
      .right=submit_tag
