#help
  %h2 Tasks
  %ul
    %li
      =link_to 'Create', new_round_path
      and edit new rounds
  %h2 Help
  %ul
    %li Once you have created a round you'll need to add deliveries to it, click the 'Add or Edit deliveries' and theres more help when you get there

%h1 Manage Your Rounds
%ul.boxes
  -@rounds.each do |r|
    %li
      .box
        %ul
          %li=r.name
          %li=r.area
          %li=r.schedule
          %li
            =link_to 'Edit this round', edit_round_path(r)
            =link_to 'Add or Edit deliveries', round_path(r)
            =link_to 'Delete', r, :confirm => 'Are you sure you want to delete this round and all its deliveries. The round will not be deleted if it is used by any customers', :method => :delete
