#help
  %h2 Help
  %ul
    %li
      Here is where you can add and edit delivery dates for
      =@round.name
      \. Your schedule is 
      =@round.schedule
      \.
%h1 Deliveries for #{@round.name} Round
-form_tag({:action => 'create', :controller => 'deliveries'}) do
  %fieldset
    %legend Add deliveries
    =hidden_field_tag :round, @round.id
    Select delivery days:
    %br
    -@days.each do |i, day| 
      =label_tag "day_#{day}", day
      =check_box_tag "day[]", i, false, :id => "day_#{day}"
      -if i%5 == 0
        %br
    %p
      From:
      =select_date Time.now,:prefix => 'from', :order => [:day, :month, :year]
      To:
      =select_date Time.now,:prefix => 'to', :order => [:day, :month, :year]
    %p
      =submit_tag 'Create Deliveries'
%h2 Current scheduled deliveries are:
%p 
  Show 
  =link_to 'All', round_path(@round)
  =link_to 'Past', past_round_path(@round)
  =link_to 'Future', future_round_path(@round)
  %br
  -@delivery_months.sort.each do |month, deliveries|
    %h3=month.strftime('%B %Y')
    -deliveries.each do |d|
      =link_to d.date.strftime("%A #{d.date.day.ordinalize}"), edit_delivery_path(d)
