#help
  %h2 Help
  %ul
    %li
      Here is where you can add and edit delivery dates for
      =@round.name
      \. Your schedule is 
      =@round.schedule
      \.
    %li
      We recomend you create deliveries for the rest of the year. Select the days for the round and the dates you want the deliveries to run to and hit the 'create delvieries' button. Once the dates are created you can edit them if they change for bank holidays and the like.
%h1 Deliveries for #{@round.name} Round
=form_tag(create_all_round_deliveries_path(@round.id)) do
  %fieldset.doubledecker
    %legend Add deliveries
    =hidden_field_tag :round, @round.id
    %ul
      %li
        %label.main{:for => "day_Monday"} Select delivery days:
        -@days.each do |i, day| 
          =label_tag "day_#{day}", day
          =check_box_tag "day[]", i, false, :id => "day_#{day}"
          &nbsp;
      %li
        %label{:for => 'from_day'} From:
        =select_date Time.now,:prefix => 'from', :order => [:day, :month, :year]
        %label{:for => 'to_day'} To:
        =select_date Time.now,:prefix => 'to', :order => [:day, :month, :year]
      %li
        %label.main Last orders may be made up to:
        =select "last_order", "day", 0..10
        day(s) before delivery at
        =select_hour 12, :field_name => 'last_order[hour]', :prefix => ''
        \:00
      %li
        =submit_tag 'Create Deliveries'
        or 
        =link_to 'create', new_round_delivery_path(@round)
        a single delivery
%h2 Current scheduled deliveries are:
%p 
  Show 
  =link_to 'All', round_path(@round)
  =link_to 'Past', past_round_path(@round)
  =link_to 'Future', future_round_path(@round)
  %br
  -@delivery_months.sort.each do |month, deliveries|
    %h3=month.strftime('%B %Y')
    -deliveries.each do |d|
      =link_to d.date.strftime("%A #{d.date.day.ordinalize}"), edit_round_delivery_path(@round,d)
