%h2=@round.name
%p
  Here is where you can add and edit delivery dates for
  =@round.name
  \. Your schedule is 
  =@round.schedule
  \.
%p
  Add deliveries every:
  %br
  -form_tag({:action => 'create', :controller => 'deliveries'}) do
    =hidden_field_tag :round, @round.id
    -DateTime::DAYNAMES.each do |day| 
      %label=day
      =check_box_tag "day[]", day, false,:id => "cb#{ day }"
    %br
    From:
    =select_date Time.now,:prefix => 'from', :order => [:day, :month, :year]
    To:
    =select_date Time.now,:prefix => 'to', :order => [:day, :month, :year]
    %br
    =submit_tag
%p 
  Current scheduled deliveries are:
