%h1 Deliveries for #{@round.name} Round
%p
  Here is where you can add and edit delivery dates for
  =@round.name
  \. Your schedule is 
  =@round.schedule
  \.
-form_tag({:action => 'create', :controller => 'deliveries'}) do
  %p
    Add deliveries every:
    =hidden_field_tag :round, @round.id
    %br
    -@days.each do |i, day| 
      =label_tag "day_#{day}", day
      =check_box_tag "day[]", i, false, :id => "day_#{day}"
      -if i%5 == 0
        %br
  %p
    From:
    =select_date Time.now,:prefix => 'from', :order => [:day, :month, :year]
    To:
    =select_date Time.now,:prefix => 'to', :order => [:day, :month, :year]
  %p
    =submit_tag
%p 
  Current scheduled deliveries are:
  %br
  -@delivery_months.sort.each do |month, deliveries|
    %h2=month.strftime('%B %Y')
    -deliveries.each do |d|
      =link_to d.date.strftime("%A #{d.date.day.ordinalize}"), edit_delivery_path(d)
