%h2=@round.name
%p
  Here is where you can add and edit delivery dates for
  =@round.name
  \. Your schedule is 
  =@round.schedule
  \.
%p
  Add deliveries every:
  %br
  -%w{ Monday Tuesday Wednesday Thursday Friday Saturday Sunday }.each do |day| 
    %label=day
    =check_box_tag day
  %br
  From:
  =select_date Time.now,:prefix => 'from', :order => [:day, :month, :year]
  Till:
  =select_date Time.now,:prefix => 'till', :order => [:day, :month, :year]
%p 
  Current scheduled deliveries are:
