body {
  font-family: arial;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #FDFEF9; }

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 40em; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 16px;
  font-weight: bold; }

h2 {
  font-size: 16px;
  font-weight: normal; }

h3 {
  font-size: 14px;
  font-weight: normal; }

a {
  color: #333; }

legend {
  font-size: 16px; }

.pairs {
  width: 600px;
  padding: 0.75em; }

.clear {
  clear: both; }

.left {
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 180px; }

.right {
  float: right;
  width: 400px; }

#header {
  height: 40px;
  background-color: #dde3c1;
  padding: 20px; }

#content {
  padding: 0 30px;
  border-top: #998299 solid 3px;
  padding-top: 18px; }

#logo {
  float: left;
  width: 200px;
  font-size: 24px; }

#menu {
  float: right; }
  #menu a {
    text-decoration: none; }

#navigation {
  border-bottom: solid 5px #333;
  padding-left: 20px;
  background-color: #DDE3C1; }
  #navigation li {
    display: inline; }
    #navigation li a {
      text-decoration: none;
      background-color: #333;
      color: white;
      margin-right: 10px;
      padding: 7px;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px; }

body#customers #customers_tab a,
body#rounds #rounds_tab a,
body#suppliers #suppliers_tab a,
body#products #products_tab a,
body#dashboard #dashboard_tab a {
  background-color: #998299; }

div#products {
  float: left;
  width: 160px; }
  div#products ul {
    margin-left: 10px; }
  div#products #bin {
    border: 1px solid black;
    margin: 10px 10px 10px 0;
    padding: 5px;
    width: 120px;
    height: 120px; }

#deliveries >  ul > li {
  display: inline; }
  #deliveries >  ul > li .quantity {
    margin-right: 1em; }
  #deliveries >  ul > li .order {
    border: 1px solid #333;
    width: 120px;
    min-height: 120px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
    #deliveries >  ul > li .order li.editableItem {
      border: 1px solid green;
      padding-left: 5px; }
    #deliveries >  ul > li .order input {
      width: 1em; }
  #deliveries >  ul > li .updated {
    border: 1px solid red; }

.regularOrders .order, .orders .regular {
  border: 1px solid blue !Important; }

a#submit {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold; }

a#submit:hover {
  text-decoration: underline; }
