body {
  font-family: arial;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #FDFEF9; }

html, body {
  height: 100%; }

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 16px;
  font-weight: bold; }

h2 {
  font-size: 16px;
  font-weight: normal; }

h3 {
  font-size: 14px;
  font-weight: bold; }

a {
  color: #333;
  text-decoration: underline;
  cursor: pointer; }

legend {
  font-size: 16px; }

.pairs {
  width: 600px;
  padding: 0.75em; }

.clear {
  clear: both; }

.left {
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 180px; }

.right {
  float: right;
  width: 400px; }

#header {
  height: 30px;
  background-color: #dde3c1;
  padding: 20px; }

#content {
  padding: 0 30px;
  border-top: #998299 solid 3px;
  padding-top: 18px;
  height: 100%; }

#logo {
  float: left;
  width: 300px;
  font-size: 24px;
  font-family: Georgia; }

#menu {
  float: right; }
  #menu a {
    text-decoration: none; }

#bin {
  border: 1px solid #ccc;
  margin: 10px 10px 10px 0;
  width: 120px;
  height: 120px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block; }
  #bin h3 {
    text-align: center;
    padding: 2px;
    margin: 0;
    background-color: #ccc; }
  #bin img {
    margin: 15px 28px; }

#navigation {
  border-bottom: solid 5px #333;
  padding-left: 20px;
  background-color: #DDE3C1; }
  #navigation li {
    display: inline; }
    #navigation li a {
      text-decoration: none;
      background-color: #333;
      color: white;
      margin-right: 10px;
      padding: 7px;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px; }

body#customers #customers_tab a,
body#rounds #rounds_tab a,
body#suppliers #suppliers_tab a,
body#products #products_tab a,
body#dashboard #dashboard_tab a,
body#supplier_users #users_tab a {
  background-color: #998299; }

div#products {
  float: left;
  width: 160px;
  height: 100%; }
  div#products ul {
    margin-left: 10px; }
    div#products ul li {
      cursor: move; }
      div#products ul li span {
        border-bottom: 1px solid #998299; }

#deliveries >  ul > li, #deliveries form .customer > ul > li {
  zoom: 1;
  display: inline; }
  #deliveries >  ul > li .quantity, #deliveries form .customer > ul > li .quantity {
    margin-right: 1em; }

#deliveries .regularOrders .order, #deliveries .orders .regular {
  border: 2px solid #dde3c1; }
  #deliveries .regularOrders .order h3, #deliveries .orders .regular h3 {
    background-color: #dde3c1; }

.order {
  border: 2px solid #998299;
  width: 160px;
  min-height: 120px;
  margin: 10px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  vertical-align: top;
  zoom: 1;
  *display: inline; }
  .order h3 {
    text-align: center;
    padding: 2px;
    margin: 0;
    background-color: #998299; }
  .order ul {
    padding: 5px; }
    .order ul li.item {
      cursor: move; }
    .order ul li.total {
      margin-left: 32px; }
  .order input {
    width: 1em; }

.updated {
  border: 2px solid red !Important; }

ul.boxes > li {
  display: inline; }
  ul.boxes > li .box {
    display: inline-block;
    border: 2px solid #998299;
    width: 220px;
    min-height: 120px;
    margin: 10px;
    vertical-align: top;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    ul.boxes > li .box a {
      margin-right: 0.3em; }

#buttons {
  float: right; }
  #buttons a#submit, #buttons a#undo {
    display: block;
    text-align: center;
    background-color: #998299;
    width: 200px;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    text-decoration: none; }
    #buttons a#submit .updated, #buttons a#undo .updated {
      border: 2px solid red; }
  #buttons a#submit:hover, #buttons a#undo:hover {
    text-decoration: underline; }
  #buttons a#watch {
    width: 200px;
    margin: 10px;
    display: block;
    text-align: center; }

#movie {
  display: none;
  margin: 0 auto;
  width: 640px; }

#home #movie {
  display: block;
  margin-top: 1.5em; }

#notice, #alert {
  font-weight: bold;
  text-align: center;
  font-size: 14px; }

#notice {
  color: green; }

#alert {
  color: red; }

#help {
  float: right;
  width: 220px;
  height: 100%;
  margin-left: 20px; }
  #help li {
    margin: 1em 0; }

#greenbox, #purplebox, #bintext, #updatetext {
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

#greenbox {
  background-color: #dde3c1; }

#purplebox, #updatetext {
  background-color: #998299; }

#bintext {
  background-color: #ccc; }

#updatetext {
  color: white; }

#signin h1 {
  text-align: center; }
#signin .pairs {
  margin: 30px auto;
  width: 640px; }
  #signin .pairs .left, #signin .pairs .right {
    margin: 1em; }

#categories li {
  margin-left: 10px; }
#categories .handle {
  cursor: pointer; }

#pretitle, .pretitle {
  font-size: 16px;
  font-style: italic;
  font-weight: bold; }

#title, .title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold; }

.centertext {
  text-align: center; }

#strap {
  font-size: 20px; }

.article a[rel~="nofollow"] {
  display: none; }

.customer_details {
  display: inline; }

#home img {
  padding: 0;
  margin: 0; }

.steps h3 {
  text-align: center;
  margin: 0;
  padding: 0; }
