body {
  font-family: arial;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  margin: 20px 20%; }

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 40em; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 16px;
  font-weight: bold; }

h2 {
  font-size: 16px;
  font-weight: normal; }

h3 {
  font-size: 14px;
  font-weight: normal; }

a {
  color: #333; }

legend {
  font-size: 16px; }

.pairs {
  width: 600px;
  padding: 0.75em; }

.clear {
  clear: both; }

.left {
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 180px; }

.right {
  float: right;
  width: 400px; }

#header {
  width: 100%;
  height: 60px; }

#logo {
  float: left;
  width: 200px;
  font-size: 24px; }

#menu {
  float: right; }
  #menu a {
    text-decoration: none; }

#navigation {
  border-bottom: solid 2px #333; }
  #navigation li {
    display: inline; }
    #navigation li a {
      text-decoration: none;
      background-color: #333;
      color: white;
      margin-right: 2px;
      padding: 4px; }

#products {
  float: left;
  width: 20%; }
  #products ul {
    margin-left: 10px; }
  #products #bin {
    border: 1px solid black;
    margin: 10px;
    padding: 10px; }

#deliveries {
  float: right;
  width: 80%; }

#deliveries >  ul > li {
  display: inline; }
  #deliveries >  ul > li .order {
    border: 1px solid #333;
    width: 20%;
    margin: 10px;
    padding: 5px;
    display: inline-block; }
