-if @supplier
  #help
    %h2 Help
    %ul
      %li Here you can change the dates of a delivery
%h1 Edit a Delivery
=form_for [@round,@delivery] do |d|
  %fieldset
    %ul
      %li
        =d.label :date
        =d.date_select :date
      %li
        =d.label :last_order
        =d.datetime_select "last_order"
    %ul
      %li
        %label
        =submit_tag 'Update'
        -if @delivery.persisted?
          or 
          =link_to 'Delete', round_delivery_path(@round, @delivery), :confirm => 'Are you sure you want to delete this delivery and any orders made against it?', :method => :delete
