%h1#strap - We believe in an alternative way of eating - 
%h2 As a family we try to get as much of our food as directly from local producers as possible. We love the seasonal vegetables in our veg box, the local cheese and dairy produce from our milk man, meat from a great local butcher and fish from a lady who delivers to us once a week (possibly not so local but at least we cut out the supermarket!).
.article
  =image_tag 'tom.jpg'
.article
  %p 
    Toms been developing web applications for as long as anyone can remember. He spends his days earning a crust from evil corporations in London he spends his evenings dreaming of and building a better way. Toms currently loving baking bread. Mail him at
    =link_to 'tom@fromwhereitsgrown.com', 'mailto:tom@fromwhereitsgrown.com'
.article
  %p 
    Clares a Sales and Marketing guru and amazing mum. Whens she's not working for an events company and baking amazing cakes she's researching and calling producers. Contact Clare at 
    =link_to 'clare@fromwhereitsgrown.com', 'mailto:clare@fromwhereitsgrown.com'
.article
  =image_tag 'clare.jpg'
  
%p So they don't feel left out here are our two crazy children, Danny and Edith
.article
  =image_tag 'danny.jpg'
.article
  =image_tag 'edith.jpg'
