%style
  p {width: 60%; }  

%p <em>I have to admit I'm not a fan of write long documents but here is a start. I'm going to treat it as a working document so if anything isn't clear or you have any questions Pleeeeaaaseee <a href="mailto:tom@fromwhereitsgrown.com">mail me</a>.</em>
  
%h2 How to set it up

%h3 Add your products
%p
  Products are the thing you sell. You'll need to set up your products before your customers can order anything. If you have a lot to add send me a spreadsheet and I'll see what I can do. Click on the product tab and follow the instructions on the right hand side. You can now add a description with a picture that will show when your customer hovers over the product.

%h3 Add your rounds
%p
  Round represent the delivery runs you do. Each customer is assigned to a single round (on the customer edit page). You must create rounds before you can add customers. Do this by clicking on the Rounds tab and following the instructions on the right. Once you have added a round you can add the delivery dates by clicking "add or edit deliveries". Each delivery has a last order date and time. Once this time has passed customers can no longer amend this order. Rounds can only be deleted if they have no customers on them.

%h3 Add your customers

%p Click on the Customers tab and follow the instructions on the right. Customers are identified by their email address and you will also need to assign them to a round. Adding their name and address will also help when you download delivery sheets and labels. Once the customer has been added you can send them an invitation email by clicking on the invite button. This will send them an email that allows them to set their password and log into their order page (thats all they can see). If the loose the invite email you can resend. Once they have set a password they can request a new one from the login screen if the loose it.

%h3 Changing your Sign In page 
%p You can upload your logo which will be shown in the top left hand corner (customers won't see it if your app is embedded). Anything you add to the news section will be shown to the customers when the login 

%h3 Giving other members of your team access 
%p Click on the team tab and "Invite a new user" he will be sent an email to set his password and will see the same as you do. Deserters can have there access revoked by clicking the remove link. <strong>Don't add your customer here!</strong>

%h2 How am I notified when a customer changes an order
%p The dashboard tab contains a list of customers who have changed their orders and their new orders. Once these have been seen you can clear them by selecting the check box on the left and clicking on the "clear updates" button.

%h2 How to download the orders etc
%p You can download Deliveries, lists of products and labels from the Dashboard. Files are downloaded in CSV format which can be opened in Excel or any other spreadseet format or imported into a database. For each download you can select a single day or range of dates. If you have any further requirements for downloads or column in the existing downloads <a href="mailto:tom@fromwhereitsgrown.com">mail me</a>.

%h3 Deliveries
%p This includes a row for each customer that has a delivery on the selected day(s). The rows consist of the following columns: Date, Round Name, Customer Name, Address, Postcode, Telephone, Regular Note, Order Note, Item Quantity, Product Name, Price (for each item in the order)

%h3 Produce
%p  This includes a row for each product that is required on the date(s) specified with the following columns: Category, Product Name, Price, Total Quantity

%h3 Labels
%p This downloads a PDF file formatted for printing on Avery L7162 sheets. It contains the same data as the Deliveries Download

%h2 Hows it running?
<iframe src="https://rpm.newrelic.com/public/charts/90qJDHUQvkF" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/fAbW3CtAEWV" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/e3vjFbOCaVd" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/jbwPc5BLNj9" width="500" height="300" scrolling="no" frameborder="no"></iframe>
