%h1#strap - Suppliers - How it works -
.row.steps
  .column.grid_3
    %h3 Add you products
  .column.grid_3
    %h3 Create your rounds
  .column.grid_3
    %h3 Add the delivery dates 
  .column.grid_3
    %h3 Invite your customers
.row
  =image_tag 'supplier_steps.gif'

.row
  %h2 Customers - Heres a video showing how you can change your order
.row
  .column.grid_3
    %p
      As a customer, you will receive an <strong>invitation email</strong> from your producer/supplier. Follow the link and you will be able to create a password for your account. Once this is done you are free to change your order whenever you want. Watch the video to see how. (Sorry about the dodgy voice-over!)
  .column.grid_9
    #movie
      <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/ytnJlDBwnO8" width="640" height="385"> <param name="movie" value="http://www.youtube.com/v/J_DV9b0x7v4"> </object>

