.inner
  %h1#strap - It's really simple for you and your customers -

  #what
    =image_tag 'nerd.gif'
    %h2 What it does do
    %ul
      %li Your customers can update their regular order
      %li Your cusotmers can choose to receive items every delivery or on a certain frequency of deliveries
      %li Your customers can change or cancel an order for a specific delivery date
      %li You can embed the app in your website
      %li You can download the information you need for your deliveries
      %li You can customise your customers sign in page and update them with news

    %h2 What it doesn’t do
    %ul
      %li It doesn’t make your deliveries
      %li It doesn’t handle payments (yet!)
      %li Its not a marketing service
    
    %h2 If this isn't what you are looking for but you like the concept drop us a mail. We'd love to hear new ideas of what we should be doing. If you'll use it we'll probably build it.

  %h2 Its simple to set up
  =image_tag 'supplier_steps.gif'
  .row.steps
    .column.grid_3
      Add you products
    .column.grid_3
      Create your rounds
    .column.grid_3
      Add the delivery dates 
    .column.grid_3
      Invite your customers

  #download
    %h2 You can download the information you need
    =image_tag 'downloadoptions.jpg'
    .row
      .column.grid_2 View your customers updates
      .column.grid_2 Download a list of the produce you need for a delivery
      .column.grid_2 Download a list of the deliveries you need to on a specific day
      .column.grid_2 Download labels for your boxes 

  %h2 Keeping it simple for your customers
  .row
    .column.grid_3
      %p
        Customers, will receive an <strong>invitation email</strong> triggered by you when you create their account and they can follow the link and create a password for their account. Once this is done they are free to change their order whenever they want. Watch the video to see how. (Sorry about the dodgy voice-over!)
    .column.grid_9
      #movie
        <iframe class="demoVid" title="Cutomer Demo" width="640" height="390" src="http://www.youtube.com/embed/2iaH8V1p88Y" frameborder="0" allowfullscreen></iframe>
