%h1 Welcome
%ul
  -if(customer_signed_in?)
    %li=link_to 'Go to your orders page', customer_orders_path(current_customer.id)
  -else
    %li=link_to 'Customer Sign In', new_customer_session_path
  -if(supplier_user_signed_in?)
    %li=link_to 'Go to your supplier page', supplier_path(current_supplier_user.id)
  -else
    %li=link_to 'Supplier Sign In', new_supplier_user_session_path

  -if(admin_signed_in?)
    %li=link_to 'Go to Suppliers page', suppliers_path
  -else
    %li=link_to 'Admin Sign In', new_admin_session_path
