=content_for :head do
  /[if lte IE 9]  
    :css
      .intro { width : 30%; float: left; }
      img.comic { float: right; width: 66%; margin-left: 1.5em } 
      .article { display: inline-block; max-width: 40%; vertical-align: top; margin-right: 9%;}
      
=image_tag 'logo.gif', { :class => 'logo' }
%h1#strap - Simple Order Management for Small Food Producers -
.intro
  %h2 From Where It's Grown is an order management system for local food producers and veg box schemes. It allows customers to update their orders online and producers to download the information they need. It's all online so there is nothing to install. You can create your own login page and url so your customers know its you they are dealing with.
  %p
    Interested? Questions? Send us a mail to:
    =link_to 'info@fromwhereitsgrown.com', 'mailto:info@fromwhereitsgrown.com'
=image_tag 'comic.jpg', { :class => 'comic' }
.news 
  %h2=link_to 'News', 'http://solittlecode.wordpress.com/'
  -@news.each do |article|
    .article
      %h3=raw article[:title]
      .text=raw article[:content_encoded]
  
