.price
  %h1 &pound;30
  %h2 a month

.article
  %h2 Not so small print
  %p
    The first month is free so you can make sure it suits you before you part with any cash. If you would like some help importing your existing data we charge a &pound;90 one off fee. If you are really small and £30 is too much drop me a mail and tell me what you can afford.

.article
  %h2 Why its better to pay monthly
  %p Buying software upfront is a big investment that in the fast moving world of the internet can quickly become obsolete. From Where it's Grown is constantly being developed and improved so it won't become outdated. 

.price
  %h2 
    To Sign up email
    =link_to 'tom@fromwhereitsgrown.com','mailto:tom@fromwhereitsgrown.com'
  
