-@customer.errors.each do |e|
  %li
    %p=e
%li
  =customer_fields.label :email
  =customer_fields.text_field :email
%li
  =customer_fields.label :name
  =customer_fields.text_field :name
%li
  =customer_fields.label :address
  =customer_fields.text_area :address, :rows => 3
%li
  =customer_fields.label :postcode
  =customer_fields.text_field :postcode
%li
  =customer_fields.label :telephone
  =customer_fields.text_field :telephone
%li
  =customer_fields.label :round_id
  =customer_fields.collection_select(:round_id, @rounds, :id, :name)

