%h1 Invite a new customer
-if(@rounds.blank?)
  #alert You need to create a round to assign your customer to before you can add customers
-else
  =form_for @customer do |f|
    = render :partial => 'customer_fields', :object => f
    = f.submit 'Create'
