#hidden_msg=@msg
#orderHelp
  =link_to 'Confirm', confirm_customer_orders_path(@customer), :id => 'submit'
  Updates to your order are made automatically as soon as you make changes. Just Drag &amp; Drop. Click the button above to receive a confirmation email. View your past orders 
  %em
    =link_to 'here', past_customer_orders_path(@customer)
  
  Still confused? 
  %a#watch 
    %em Help me!

.regularOrders
  -@regular_orders.each do |regular|
    .order
      .note 
        =link_to 'add note', ''
      %h3{"data-regular_order_id" => regular.id} Regular Order
      %ul
        -regular.regular_order_items.each do |oi|
          %li.item{"data-product_id" => oi.product_id} 
            %span.copyable
              %input.quantity{ :value => oi.quantity }
              %span.product
                =oi.product.name
                %span.price{ 'data-price' => oi.product.price }= to_pound(oi.product.price)
            = select_tag "frequency", options_for_select([ ["every delivery",1],
              ["every 2 deliveries",2],
              ["every 3 deliveries",3],
              ["every 4 deliveries",4],
              ["every 5 deliveries",5],
              ["every 6 deliveries",6],
              ["every 7 deliveries",7],
              ["every 8 deliveries",8]],oi.frequency), :class => 'frequency', :id => nil
            from
            = select_tag "start", options_for_select(@deliveries, oi.first_delivery_date), :class => "start", :id => nil
        %li.total
        -if regular.note.present?
          %li
            %em
              Note: 
              =regular.note
      .editNote
        .close
          =link_to 'close',''
        %h3 
          Notes for Regular Order
          \:
        %textarea{ :rows => 14, :cols => 40 }
          =regular.note
        %br
%hr
.orders
  -@orders.each do |order|
    %div{:class => order.new_record? ? "order regular" : "order"}  
      .note 
        =link_to 'add note', ''
      %h3{"data-delivery_id" => order.delivery.id}
        =order.delivery.date.to_s(:short)
      %ul
        -order.order_items.each do |oi|
          %li.item{"data-product_id" => oi.product_id} 
            %input.quantity{ :value => oi.quantity }
            %span.product
              =oi.product.name
              %span.price{ 'data-price' => oi.product.price }= to_pound(oi.product.price)
        %li.total
        -if order.note.present?
          %li
            %em
              Note: 
              =order.note
      .editNote
        .close
          =link_to 'close',''
        %h3 
          Notes for
          =order.delivery.date.to_s(:short)
          \:
        %textarea{ :rows => 14, :cols => 40 }
          =order.note
        %br

