=content_for :head do
  :javascript
    $(function(){
        
      $("#products li").draggable({ helper: "clone" });
      
      $(".order").droppable({ drop: why.addItem })

      $('#deliveries li').draggable();
      
      $("#bin").droppable({ drop: why.binItem })

      $('#submit').click(function(){ why.createOrder(); return false; })

    })

#products
  %a#submit{ :href => '#' } Submit
  #bin Drop in the bin
  -@product_categories.each do |category, products| 
    %h3=category
    %ul
      -products.each do |product|
        %li=product.name
#deliveries
  %ul
    -@deliveries.each do |delivery|
      %li
        .order
          %h3=delivery.date
          %ul
            %li 
              %span.quantity 1
              %span.product Dummy 

