=content_for :head do
  :javascript
    $(function(){
      why.setupProducts();
      why.setupOrders();
      $('#watch').live('click', function(){ $('#movie').slideDown();})
      $('#hide').click(function(){ $('#movie').slideUp(); });
      $('.more').hover(
        function(){ $(this).next('.description').fadeIn(); },
        function(){ $(this).next('.description').fadeOut(); }
      );
    })

-if @customer.round.customer_message.present?
  #customerMessage=@customer.round.customer_message
#movie
  %a#hide Hide help
  =image_tag 'helpscreenshot.jpg'
#products
  %h2 Products
  -@product_categories.sort.each do |category, products| 
    %h3
      %span.catselector +
      =category[1]
    %ul
      -products.sort.each do |product|
        %li.product{"data-product_id" => product.id}
          %span.prodname
            =product.name
            -if(product.price)
              %span.price{ 'data-price' => product.price }= to_pound(product.price)
          -if product.description.present?
            %span.more ?
            .description
              =image_tag product.photo.url
              =product.descriptive_text
              =raw product.description
#deliveries
  = render 'deliveries'
