=content_for :head do
  :javascript
    $(function(){
      $("#products li").draggable({ helper: "clone" });
      $("#bin").droppable({ drop: why.binItem });
      why.setupOrders();
      $('#submit').click(function(){ why.createOrder(); return false; })
    })

#products
  %a#submit{ :href => '#' } Submit
  #bin Drop in the bin
  -@product_categories.each do |category, products| 
    %h3=category
    %ul
      -products.each do |product|
        %li{"data-product_id" => product.id}=product.name
#deliveries
  %ul.regularOrders
    -@regular_orders.each do |regular|
      %li
        .order
          %h3{"data-regular_order_id" => regular.id} Regular Order
          %ul
            -regular.regular_order_items.each do |oi|
              %li 
                %input.quantity{ :value => oi.quantity }
                %span.product{"data-product_id" => oi.product_id}=oi.product.name
  %hr
  %ul.orders
    -@orders.each do |order|
      %li
        %div{:class => order.new_record? ? "order regular" : "order"}  
          %h3{"data-delivery_id" => order.delivery.id}=order.delivery.date
          %ul
            -order.order_items.each do |oi|
              %li 
                %input.quantity{ :value => oi.quantity }
                %span.product{"data-product_id" => oi.product_id}=oi.product.name

