#signin
  %h1=welcome_text resource_name
  =form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| 
    .pairs
      %p.clear
        .left=f.label :email
        .right=f.text_field :email

      %p.clear
        .left=f.label :password
        .right=f.password_field :password

      -if devise_mapping.rememberable? 
        %p.clear
          .left=f.label :remember_me
          .right=f.check_box :remember_me

      %p.clear
        .left
        .right=f.submit "Sign in"

      %p.clear
        .left
        .right
          = render :partial => "devise/shared/links" 
          -if resource_name == :customer
            =link_to "I'm a supplier get me out of here!", new_supplier_user_session_path
