=content_for :head do
  =javascript_include_tag "http://github.com/jquery/qunit/raw/master/qunit/qunit.js"
  =stylesheet_link_tag "http://github.com/jquery/qunit/raw/master/qunit/qunit.css"
  :javascript
    $(document).ready(function(){

      test("new Item", function() {
        var expected = {quantity: "1", name:"fish"};
        var ht = $("<li>\
          <span class='quantity'>1</span>\
          <span class='product'>fish</span>\
        </li>");
        same(new why.Item(ht).quantity, expected.quantity);
        same(new why.Item(ht).product, expected.product);

      });

      test("map_slice", function() {
        var ht = $("#slice_test p")
        var fn = function(a){return a.attr('id')}
        same(why.map_slice(ht,fn),["a","b"]);
      });
    });
%p
%h1#qunit-header Order Tests
%h2#qunit-banner
%h2#qunit-userAgent
%ol#qunit-tests

#slice_test
  %p#a
  %p#b
