%script
  ="var data = '#{@category_list}'.split(',');"
  $("#product_category").autocomplete(data);
  
%h1="#{controller.action_name.capitalize} Product"
=form_for @product do |p|
  -@product.errors.full_messages.each do |e|
    %p=e
  %fieldset
    %ul
      %li
        =p.label :name
        =p.text_field :name
      %li
        =p.label :category
        =p.text_field :category
      %li
        =p.label :price
        =p.text_field :price
        £
      %li
        =label_tag ''
        =submit_tag
