%script
  $(function(){
  ="var data = '#{@category_list}'.split(',');"
  $("#product_category").autocomplete(data);

  if($('#product_description').val().length > 0){
  $('#has_description').attr('checked',true);}
  else{
  $("#desc_li").hide();}

  $("#has_description").click(function(){
  if($("#has_description").is(":checked"))
  {
  $("#desc_li").slideDown();
  }
  else
  {
  $("#desc_li").slideUp();
  }
  });
  })
  
#help
  %h2 Help
  %ul
    %li Give your product a name
    %li Enter a new category or type the first letter of a category that already exists and it will appear for you to select
    %li Add a price
    %li If you want to add more of a description click on the 'include description' check box and text are will magically appear. You can add a photo by linking to pics that have been uploaded to the internet (such as on Flickr, Picasa, or on your own website). Do this by clicking on image button (it's a hill with a sun behind it). Hover over the other buttons to see what they do (they should be familiar)

%h1="#{controller.action_name.capitalize} Product"
=form_for @product do |p|
  -@product.errors.full_messages.each do |e|
    %p.error=e
  %fieldset
    %ul
      %li
        =p.label :name
        =p.text_field :name
      %li
        =p.label :category
        =p.text_field :category
      %li
        =p.label :price
        =p.text_field :price
        £
      %li
        =label_tag :has_description, 'Include Description'
        =check_box_tag :has_description
      %li#desc_li
        =p.label :description
        =p.text_area :description, :class => 'editor'
      %li
        =label_tag ''
        =submit_tag 'Update', :class => 'wymupdate'
        =link_to "Cancel", products_path
