%h1 Manage your products
%p 
  Here's where you can 
  =link_to 'create', new_product_path
  new products, and edit the existing ones below

-@product_categories.sort.each do |category, products|
  %h3=category
  %ul
    -products.each do |p|
      %li
        =link_to p.name, edit_product_path(p)
