=content_for :head do
  :javascript
    $(function(){
      $('.category').sortable( {
        axis: 'y', 
        dropOnEmpty:false, 
        cursor: 'crosshair',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.post("/products/reorder",
            $(this).sortable('serialize') 
            )
          }
        })
      $('#categories').sortable( {
        axis: 'y', 
        dropOnEmpty:false, 
        cursor: 'crosshair',
        items: '.category',
        handle: 'h3',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.post("/products/reorder",
            $(this).sortable('serialize') 
            )
          }
        })
      })
    

%h1 Manage your products
%p 
  Here's where you can 
  =link_to 'create', new_product_path
  new products, and edit the existing ones below
#categories
  -@product_categories.sort.each do |category, products|
    .category{:id => "category_#{products.first.id}"}
      %h3=category[1]
      %ul
        -products.sort.each do |p|
          %li{:id => "product_#{p.id}"}
            =link_to p.name, edit_product_path(p)
