=content_for :head do
  :javascript
    $(function(){
      $('.category').sortable( {
        axis: 'y', 
        dropOnEmpty:false, 
        cursor: 'crosshair',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.post("/products/reorder",
            $(this).sortable('serialize') 
            )
          }
        })
      })
    

%h1 Manage your products
%p 
  Here's where you can 
  =link_to 'create', new_product_path
  new products, and edit the existing ones below

-@product_categories.sort.each do |category, products|
  %h3=category
  %ul.category
    -products.sort.each do |p|
      %li{:id => "product_#{p.id}"}
        =link_to p.name, edit_product_path(p)
