%h1 Update your settings
=form_for @supplier, :html => { :multipart => true } do |f|
  %fieldset
    %ul
      %li
        =f.label :name
        =f.text_field :name
      %li
        =f.label :logo
        =f.file_field :logo
      %li
        =f.label :info
        =f.text_area :info
      %li
        =label_tag ''
        =submit_tag
  
