%h1 
  Welcome
  =@supplier.name
%p This is where you can manage your rounds, deliveries, products and customers and users

%h2 Your Users
%ul
  %li=link_to 'Invite a new User', new_supplier_user_path


