%h1 
  Welcome
  =@supplier.name
%p This is where you can manage your rounds, deliveries, products and customers and users

%h2 Your Users
%ul
  %li=link_to 'Invite a new User', new_supplier_user_path
%h2 Your Rounds and Deliveries
%ul
  %li=link_to 'Rounds', rounds_path

%h2 Your Products
%ul
  %li=link_to 'Products', products_path

%h2 Your Customers
%ul
  %li To DO


