%h1 
  Welcome
  =@supplier.name
%p This is where you can manage your rounds, deliveries, products and customers and users

%h2 Your Rounds and Deliveries
%ul
  %li=link_to 'Rounds', rounds_path

%h2 Your Products
%ul
  %li=link_to 'Products', products_path

%h2 Your Customers
%ul
  %li=link_to 'Customers', customers_path

%h2 Your Users
%ul
  %li=link_to 'Users', suppliers_path

