#help
  %h2 Tasks
  =form_tag download_supplier_path do
    %ul
      %li
        For deliveries on 
        =select nil,'one_date', @delivery_dates
      %li
        or between
        %br
        =select nil,'from_date', @delivery_dates
        and 
        =select nil,'to_date', @delivery_dates
      %li
        download your
        %br
        =submit_tag 'Deliveries', {:name => 'format', :value => 'Deliveries' }
        =submit_tag 'Produce', {:name => 'format', :value => 'Produce' }
        or
        =submit_tag 'Labels', {:name => 'format', :value => 'Labels' }

%h1 
  Customer Order Changes
#deliveries
  =form_tag accept_supplier_path do
    =submit_tag 'clear updates'
    .customer
      -@pending.each do |c, orders|
        =check_box_tag 'accept[]', c.id
        %h3.customer_details=[c.name ,c.email ,c.address ,c.postcode ,c.telephone].reject{|a| a.blank?}.join(', ')
        %ul
          -orders.each do |order|
            %li
              .order
                -if order.respond_to?(:delivery)
                  %h3=order.delivery.date.to_s(:short)
                -else
                  %h3 Regular Order
                %ul
                  -order.items.each do |item|
                    %li
                      =item.quantity
                      =' x '
                      =item.product.name
                  %li
                    =order.note
              
