-title()
!!! 5
%html
  %head
    %title=yield :title
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
    =stylesheet_link_tag :all
    =javascript_include_tag :defaults, 'jquery.autocomplete', 'jquery-ui','myga','wymeditor/jquery.wymeditor.min.js'
    <script type="text/javascript" src="http://use.typekit.com/rjk6gwu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="keywords" content="food, producer, orders, delivery, organic, application, supplier" />
    <meta name="description" content="An Order Management System for Local Food Suppliers"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    = csrf_meta_tag
    =yield :head
  %body{ :id => tab_name }
    #header
      #logo
        =yield :logo
      #menu
        %ul
          %li=link_to 'Sign Out Admin', destroy_admin_session_path if admin_signed_in?
          %li=link_to 'Sign Out Supplier', destroy_supplier_user_session_path if supplier_user_signed_in?
          %li=link_to 'Sign Out Customer', destroy_customer_session_path if customer_signed_in?
    #navigation
      %ul
        -if admin_signed_in?
          %li#suppliers_tab=link_to 'Suppliers', suppliers_path
        -if (supplier_user_signed_in? || admin_signed_in?) && @supplier && !@supplier.new_record?
          %li#dashboard_tab=link_to 'Dashboard', supplier_path(@supplier), { :accesskey => '1'}
          %li#customers_tab=link_to 'Customers', customers_path, { :accesskey => 2}
          %li#products_tab=link_to 'Products', products_path, { :accesskey => 3}
          %li#rounds_tab=link_to 'Rounds', rounds_path, { :accesskey => 4}
          %li#users_tab=link_to 'Team', supplier_users_path, { :accesskey => 5}
          %li#settings_tab=link_to 'Settings', edit_supplier_path(@supplier), { :accesskey => 6}
          %li#guide_tab=link_to 'Guide',guide_path, { :accesskey => 7}
    %hr.navcon
    #content
      -if(flash[:notice])
        #notice=flash[:notice]
      -if(flash[:alert])
        #alert=flash[:alert]
      =yield
