-title()
!!! 5
%html
  %head
    %title=yield :title
    =stylesheet_link_tag :all
    =javascript_include_tag 'jquery', 'jquery.autocomplete', 'jquery-ui', 'application'
    =yield :head
  %body{ :id => tab_name }
    #header
      #logo=yield :title
      #menu
        %ul
          %li=link_to 'Sign Out Admin', destroy_admin_session_path if admin_signed_in?
          %li=link_to 'Sign Out', destroy_supplier_user_session_path if supplier_user_signed_in?
          %li=link_to 'Users', supplier_users_path
    #navigation
      %ul
        -if admin_signed_in?
          %li#suppliers_tab=link_to 'Suppliers', suppliers_path
        -if (supplier_user_signed_in? || admin_signed_in?) && @supplier && !@supplier.new_record?
          %li#dashboard_tab=link_to 'Dashboard', supplier_path(@supplier)
          %li#customers_tab=link_to 'Customers', customers_path
          %li#products_tab=link_to 'Products', products_path
          %li#rounds_tab=link_to 'Rounds', rounds_path
    #content
      -if(flash[:notice])
        #notice=flash[:notice]
      -if(flash[:alert])
        #notice=flash[:alert]
      =yield
