!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title="Where's my eggs?"
    =stylesheet_link_tag :all
    =javascript_include_tag 'jquery', 'jquery.autocomplete'
  %body
    #header
      #logo Where's my eggs?
      #menu
        %ul
          %li=link_to 'Sign Out Admin', destroy_admin_session_path if admin_signed_in?
          %li=link_to 'Sign Out', destroy_supplier_user_session_path if supplier_user_signed_in?
    -if(flash[:notice])
      #notice=flash[:notice]
    -if(flash[:alert])
      #notice=flash[:alert]
    =yield
