!!! 5
%html
  %head
    <meta name="google-site-verification" content="FUM3w02GCAyjArGC1COWF7vohaUDhM02bDEUtX67YbM" />
    %title="#{ tab_name.capitalize } - We like our food to come - From Where It's Grown"
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
    =stylesheet_link_tag :all
    <script type="text/javascript" src="http://use.typekit.com/rjk6gwu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    =javascript_include_tag 'myga'
    <meta name="keywords" content="food, producer, orders, delivery, organic, application, supplier" />
    <meta name="description" content="An Order Management System for Local Food Suppliers"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    = csrf_meta_tag
    =yield :head
  %body.promo{ :id => tab_name }
    #navigation
      -if tab_name != 'index' then
        =image_tag 'logo.gif'
      %ul
        %li#home_tab=link_to 'Home', home_path
        %li#how_tab=link_to 'How', how_path
        %li#price_tab=link_to 'Pricing', price_path
        %li#about_tab=link_to 'About us', about_path
        %li#blog_tab=link_to 'Blog', blog_path
        %li#contact_tab=link_to 'Contact Us', contact_path
    %hr
    #content
      -if(flash[:notice])
        #notice=flash[:notice]
      -if(flash[:alert])
        #alert=flash[:alert]
      .inner
        =yield
      #footer 
        <a href="http://www.twitter.com/fromwhereitsgro"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png" alt="Follow fromwhereitsgro on Twitter"/></a>
        %br
        Design by
        %a{ :href => 'mailto:tom@fromwhereitsgrown.com'} Tom
        Cartoon by
        %a{ :href => 'mailto:sammyborras@gmail.com'} Sammy Borras
